.logo img {
  padding: 30px 0;
  width: 100%;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  text-align: center;
}

.resource-list ul {
    text-align: left;
    margin: 0 auto;
    width: 300px;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);

  z-index: 2000;
}

/* Modal box */
.modal {
  position: relative;

  width: 320px;
  padding: 30px;

  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.modal input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

/* Submit button */
.modal button[type="submit"] {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: white;
  cursor: pointer;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}